# Allowlist the build context: never send local images, licenses, state or Git history.
**
!Dockerfile
!lab_server.py
!storage.py
!container_console.py
!link_fabric.py
!iol_l1.py
!qmp.py
!lab_backup.py
!disk_delta.py
!frr.py
!ll2s_device.py
!tap_net.py
!console_capture.py
!cisco_config.py
!saved_config.py
!initial_config.py
!vios.py
!qemu_net.py
!start-lab.sh
!wrapper.pl
!wrapper-ws.pl
!iou2net.pl
!iol-console.html
!web/
!web/**
!THIRD_PARTY.md
!licenses/
!licenses/**
!LICENSE
!lab_automation.py
!docs/
!docs/practice-labs.md
!agent_bridge.py
!agent_transport.py
!agent_companion.py
!agent_auth.py
!agent_attachments.py
!requirements-mcp.txt
!tools/
!tools/weblab_mcp.py
!packaging/
!packaging/agent/
!packaging/agent/Codex-LICENSE.txt
!packaging/agent/Codex-NOTICE.txt
